#smxy{
	width: 100%;
	height: auto;
	margin-top: .5rem;
	background: #fff;
	font-size: .7rem;
	color: #2A2A2A;
	line-height: 1.1rem;
	padding: 1rem 5% 1px;
	p{
		text-indent: 1.4rem;
		margin-bottom: 2.2rem;
	}
	h2{
		width: 100%;
		height: auto;
		font-size: .7rem;
		font-family: 'HiraginoSansGBW3';
		font-weight: bold;
		margin-bottom: .2rem;
	}
}